<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>


    <div class="container d-flex justify-content-center align-items-center mt-4">
        <div class="card">

            <form action="/edit/<%=student.id%>" method="post">
                <input type="text" name="name" value="<%=student.name %>" required>

                <button type="submit">EDIT</button>
            </form>

        </div>
    </div>


</body>

</html>